* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;font-family: 'Poppins', sans-serif;

}
.main-container {
    background-color: #17A589;
    padding-top: 30px;
}
/* common selecter  */
.container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
/* header  */
#header-section {
    padding-bottom: 30px;
}
#header-section .container {
    background-color: #7F8C8D ;
    border-radius: 10px;
    border: 3px solid #fff;
}
#header-section .container .left-content {
    flex-basis: 60%;
    text-align: center;
    line-height: 25px;
    color: #000;
    font-weight: bold;
}
#header-section .container .left-content h4 {
    letter-spacing: 5px;
    font-size: 20px;
}
#header-section .container .left-content h1 {
    font-size: 30px;
}
#header-section .container .left-content h1,
#header-section .container .left-content h3,
#header-section .container .left-content h4 {
    margin-bottom: 20px;
}
#header-section .container .right-content {
    flex-basis: 40%;
}
#header-section .container .right-content img {
    width: 100%;
}
.social-icons {
    padding-top: 40px;
}
.social-icons a {
    margin: 15px;
    font-size: 30px;
}
.social-icons a:nth-child(1) {
    color: #1DA1F2;
}
.social-icons a:nth-child(2) {
    color: #4267B2;
}
.social-icons a:nth-child(3) {
    color: #405DE6;
}

/* about me  */
#about-section {
    padding-bottom: 50px;
}
#about-section .container {
    align-items: center;
}
#about-section .container div {
   flex-basis: 50%;
}
#about-section  img {
   width: 40%;
   height: 40%;
   border-radius: 50%;
   margin: auto;
   display: block;
   background-color: #0a239e;
   border: 2px solid #fff;
}
#about-section .right-content h1 {
    line-height: 40px;
}
#about-section .right-content h2 {
    line-height: 40px;
}